.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: scroll;
  background-color: white;
}

h1 {
  position: sticky;
  top: 0;
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  z-index: 1;
  background: white;
}
